In [108]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# from sklearn.externals import joblib
import joblib
from sklearn import tree

music_data = pd.read_csv("music.csv")
music_data.head(10)

   age  gender      genre
0   20       1     HipHop
1   23       1     HipHop
2   25       1     HipHop
3   26       1       Jazz
4   29       1       Jazz
5   30       1       Jazz
6   31       1  Classical
7   33       1  Classical
8   37       1  Classical
9   20       0      Dance

In [35]:
music_data.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [36]:
X = music_data.drop(columns=["genre"])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [37]:
Y = music_data["genre"]
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [97]:
model = DecisionTreeClassifier()
model.fit(X, Y)
predictions = model.predict([[21,1], [22, 0]])
# Just checked the model for a 21 year old male and 22 year old female
predictions

array(['HipHop', 'Dance'], dtype=object)

In [39]:
# Checking for accuracy now

In [107]:
# Returns a tuple, so unpack into 4 variables, using 0.2 of the data
X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size  = 0.2)

model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)
score

0.5

In [109]:
# Trying out visualizers, after we importe tree frmo sklearn

In [123]:
# Dot is data visual language, open in Visual Studio and right click on 3 dot at top right, then open previews to side
tree.export_graphviz(model, out_file = 'music-recommender.dot', 
                     feature_names = ['age', 'gender'], class_names = sorted(Y.unique()),
                    label = 'all', rounded = True, filled = True)

In [94]:
# After we imported joblib

In [102]:
joblib.dump(model,"music-recommender.joblin")

['music-recommender.joblin']

In [100]:
# We are joblib.load so we don't have to run model each time

In [105]:
model = joblib.load("music-recommender.joblin")
# 21 years old and male
predictions = model.predict([[21,1]])
predictions

array(['HipHop'], dtype=object)